# Make sure to ignore Eclipse files
.classpath
.project
.settings

# Intellij
*.iml
.idea

# Where maven compiles by default
target

# Java Files that should be ignored
*.class

# Package Files
*.jar
*.war
*.ear

# Backup and swap files
*.bak
*.swp

# ignore CSV files for now because while implementing
# we will run sipp which will spit out these files
*.csv
